

      <div class="page-header">
        <h3><img src="images/logo-mycontroller.org_full.png" height="65" width="344"></h3>
      </div>

     <p>
        Welcome to <a href="http://www.mycontroller.org">MyController.org</a> :) Let's Have Fun!
     </p>
     
     <p>
        MyController.org is a controller for the sensor world! Primary focusing <a href="http://www.mysensors.org/">MySensors.org</a> project. Considered system resources in mind on development. Even we can run it on Raspberry PI very first model.
        <h4>What you can do with MyController.org?</h4>
        In simple words, You can  monitor and control your home from anywhere. See the features provided by MyController.org.       
     </p>
     
    <div class="page-header">
        <h3>System Requirement</h3>
    </div>

    <p>
      MyController.org is a very lightweight server, It required very less resource!
      <ul type="circle">
        <li>Disk : ~30 MB</li>
        <li>Memory(RAM) : 40 MB</li>
        <li>Java : 1.8 or later</li>
      </ul>
      <div class="alert alert-info" role="alert">NOTE: Test done up to 5 nodes and 30 sensors with the above configuration.</div>
      <h4>Supported Platforms (tested)</h4>
      MyController.org is java based application server. We can run it in any platform which supports Java.
      <ul type="circle">
        <li>Linux</li>
        <li>Windows</li>
        <li>Raspberry PI (Oracle Java recommend)</li>
      </ul>
    </p>  
    
    <div class="page-header">
      <h3>Available Features</h3>
      <p>
        Features available in <a href="https://github.com/mycontroller-org/mycontroller/releases/tag/0.0.2-alpha4">0.0.2-alpha4</a> version,
        <ul type="circle">
        <li>Supports <a href="http://www.mysensors.org/build/serial_gateway">Serial Gateway</a>, <a href="http://www.mysensors.org/build/ethernet_gateway">Ethernet Gateway</a>, <a href="http://www.mysensors.org/build/mqtt_gateway">MQTT Gateway</a> and NRF24L01+ gateway via <a href="https://github.com/mysensors/Raspberry">PiGatewaySerial</a> on Raspberry PI</li>
        <li>Auto discover and update nodes(upon nodes restart or receive any data)</li>
        <li>Timer - Help you to schedule time based operations. You can control till the seconds. Types,
          <ul type="circle">
            <li>Normal (daily, weekly, monthly)</li>
            <li>Cron</li>
            <li>Before/After Sun Rise and Sun Set</li>
          </ul>
        </li>
        <li>Alarm - based on information received/sent from/to sensor
          <ul type="circle">
            <li>Notifications: Send Payload to another sensor, Sends <a href="https://www.plivo.com/">SMS</a>, Sends Email</li>
          </ul>
        </li>
        <li>Graphical reports (Last one hour, 24 hours, 30 days, years)</li>
        <li>Forward payload from one sensor to another sensor</li>
        <li>Logs report</li>
        <li>Send Payload to sensor</li>
        <li>Reboot, Erase EEPROM, Update Firmware for any nodes which is running with <a href="https://github.com/mysensors/Arduino/tree/master/MYSBootloader">MYSBootloader</a></li>
        <li>Maintain firmware for all the nodes</li>
        <li>Display battery level of node with graphical report</li>
        <li>Unique Identification number for each sensor</li>
        <li>MyController.org server health status</li>
      </ul>
      </p>
    </div>
