  <div class="page-header">
    <h3><b><i class="fa fa-book"></i> Document</b></h3>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Documents</h3>
    </div>
    <div class="panel-body">
      <h5><a href="docs/document_0_0_2-alpha5.pdf">0.0.2-alpha5</a> <span class="label label-default">New</span></h5>
      <h5><a href="docs/document_0_0_2-alpha4.pdf">0.0.2-alpha4</a></h5>
      <h5><a href="docs/document_0_0_2-alpha3.pdf">0.0.2-alpha3</a></h5>
      <h5><a href="docs/document_0_0_2-alpha2.pdf">0.0.2-alpha2</a></h5>
    </div>
  </div>
