  <div class="page-header">
    <h3><b>Downloads</b> <small><a href="https://github.com/mycontroller-org/mycontroller/releases">Github Releases Page</a></small> <small> | </small> <small><a href="https://drive.google.com/drive/folders/0BzuumrtRA7p6dXZ5THdURUc1blU?resourcekey=0-gieoDpHHIqfrWkLlDmcrCA">SNAPSHOT build</a></small></h3>
  </div>
   
  <table class="table table-bordered">
    <thead>
      <th>Version</th>
      <th>Released on</th>
      <th>Documents</th>
      <th>License</th>
      <th>Format</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in releaseItems">
        <td>{{item.tag_name}}</td><td><span am-time-ago="item.published_at"></span><br>{{item.published_at | date : 'longDate'}}</td><td> 
          <span ng-if="item.id > 2322723">User manual [<a ui-sref="projectDocuments({ docPage: '{{item.tag_name}}.html' })">html</a>, <a href="/files/docs/{{item.tag_name}}.pdf">pdf</a>],</span>
          <span ng-if="item.id == 1997544 || item.id == 1854169 || item.id == 1832105 || item.id == 1786490">User manual [<a href="/files/docs/document_{{item.tag_name.replace('.','_').replace('.','_')}}.pdf">pdf</a>], </span>
          <a href="{{item.html_url}}">Release notes</a></td><td>Apache License, Version 2.0</td>
        <td>
          <span ng-repeat="file in item.assets"><span class="mc-margin"><a class="mc-table-link" href="{{file.browser_download_url}}"><i class="fa fa-download"></i> {{file.content_type.replace("application/","")}}</a> - {{file.size | byteToFriendlyConvertor}},</span>
          <span class="mc-margin" uib-tooltip="Downloaded count" tooltip-placement="right">{{file.download_count}}</span><br></span>
        </td>
      </tr>
    </tbody>
  </table>
